@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import "tailwindcss";

/* 1. Define theme variables */
@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --animate-wave1: wave1 12s ease-in-out infinite;
  --animate-wave2: wave2 12s ease-in-out infinite;
  --animate-wave3: wave3 12s ease-in-out infinite;
  --color-campomaq: #fef011;
}

/* 2. Keyframes */
@keyframes wave1 {
  0%,100% { transform: translateY(0) }
  50% { transform: translateY(-20px) }
}
@keyframes wave2 {
  0%,100% { transform: translateX(0) }
  50% { transform: translateX(20px) }
}
@keyframes wave3 {
  0%,100% { transform: scale(1) }
  50% { transform: scale(1.1) }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}


/* 3. Base styles (sin fondo fijo) */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-orbitron);
  color: rgb(238, 234, 10);
  height: 100%;
  overflow-y: auto; /* scroll principal */
}

main {
  min-height: 100vh;
}

/* ==== SCROLLBAR ==== */

/* Para Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000; /* contenedor negro */
}

::-webkit-scrollbar-thumb {
  background: #facc15; /* amarillo */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eab308; /* amarillo más oscuro al pasar el mouse */
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #000; /* thumb amarillo, track negro */
}
