@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap'); /* Eurostile-like */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans m-0 p-0;
  background: linear-gradient(270deg, #facc15, #000000);
  background-size: 200% 200%;
  animation: gradient-x 8s ease infinite;
  /* font-family: 'Courier New', Courier, monospace; */
  color: white;
  height: 100vh;
}
@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}